name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare list of configurations
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      presets: ${{ steps.set-matrix.outputs.presets }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            github.com:443

      - name: Check out the source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set matrix
        id: set-matrix
        run: echo presets="$(jq '.configurePresets[] | select(.hidden == false) | {name, description}' CMakePresets.json | jq --slurp -c .)" >> "${GITHUB_OUTPUT}"

  build:
    needs: prepare
    name: Build and Test (${{ matrix.preset.description }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        preset: ${{ fromJson(needs.prepare.outputs.presets) }}
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Set up vcpkg
        uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5

      - name: Build and test
        run: |
          cmake --preset ${{ matrix.preset.name }}
          cmake --build --preset ${{ matrix.preset.name }} -j $(nproc)
          ctest --preset ${{ matrix.preset.name }}

  smoke-test:
    name: Smoke Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
          fetch-depth: 0

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Set up vcpkg
        uses: lukka/run-vcpkg@5e0cab206a5ea620130caf672fce3e4a6b5666a1 # v11.5

      - name: Build and install
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build -j $(nproc)
          sudo cmake --install build

      - name: Run smoke test
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build -j $(nproc)
          ./build/test-logs-exporter-stream
        working-directory: ci
