name: Lint C++ code

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: none

jobs:
  lint:
    name: clang-format (${{ matrix.path }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        path:
          - src
          - test
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: clang-format Check
        uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe # v4.16.0
        with:
          clang-format-version: 19
          check-path: ${{ matrix.path }}
